module.exports = {
  // Your Carvoyant API Key
  apiKey: '...',
  // Your Carvoyant API Security Token
  securityToken: '...',
  // This is the vehicle id that has real trip data for the trip API tests. (read-only)
  // The reason for this is there is no way to test the trip details API without live data and we use trip data to
  // test pagination and since there is no API to create trip data programmatically, we need a live id.
  vehicleIdWithTripData: '...',
  // This is the vehicle id that has real constraints for the constraints API tests. (read-only)
  // The reason for this is there is no way to test the constraints APIs without live data.
  vehicleIdWithConstraints: '...',
  // This is the vehicle id that has real notifications for the notifications API tests. (read-only)
  // The reason for this is there is no way to test the notifications APIs without live data.
  vehicleIdWithNotifications: '...',
};
