module.exports = {
  // Your Carvoyant API Key
  apiKey: '...',
  // Your Carvoyant API Security Token
  securityToken: '...',
  // This is the vehicle id that has real trip data for the trip API tests. (read-only)
  // The reason for this is there is no way to test the trip APIs or pagination without real data due to there being
  // no live APIs for creating trip data.
  vehicleIdWithTripData: '157'
};
