module.exports = {
  // Your Carvoyant API Key
  apiKey: '...',
  // Your Carvoyant API Security Token
  securityToken: '...',
  // This is the vehicle id that has real trip data for the trip API tests. (read-only)
  vehicleIdWithTripData: '157'
};
